.home-hero {
  max-width: 1440px;
  min-height: 850px;
  padding-top: 100px;
  background-image: url(/home/bg-hero.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 650px;
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    background-size: 50%;
    min-height: 700px;
  }
}
