.home-subscribe {
  background-color: #d33341;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 40px 0;
  margin-top: 120px;

  h3 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 576px) {
    .sm-col-12:first-of-type {
      padding: 0 18% 20px 18%;
    }
  }
}
